/* Problem 1 */
@media screen and (orientation: portrait) {
  .container {
    display: grid; 
    grid-template-columns: 1fr; 
    width: 90%; 
    margin: 0 auto; 
    overflow: visible; 
  }

  .container img {
    width: 100%;
    height: auto;
  }

  .container figure {
    margin: 0; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
}
/* Problem 2 */

@media(min-width: 600px) {
  .container { 
    grid-template-columns: repeat(3, 1fr); 
  } 

  .container > :nth-child(odd){ 
    grid-column: 1 / span 2; 
  } 

   .container > :nth-child(even){ 
    grid-column: 2 / span 2;
  }
}
a[href="#maincontent"]:focus {
  position: fixed; 
  top: 10px; 
  left: 10px; 
  background-color: #fff; 
  color: #000; 
  padding: 10px; 
  border: 2px solid black; 
  z-index: 1000; 
}

/* Problem 3 */
@media (min-width: 900px) {
  .container {
    grid-template-columns: repeat(4, 20%); 
  }

  .container > :nth-child(odd) {
    grid-column: 1 / span 2; 
  }

  .container > :nth-child(even) {
    grid-column: 2 / span 2; 
  }

  .container {
    column-gap: 0px;
    row-gap: 0px;
  }
}
